.App {
  text-align: center;
}

.heading {
  margin: 20px;
  height: 50px;
  border-radius: 1.25rem;
  background-color: #d3d3d3;
  box-shadow: 0px 6px 18px rgba(0, 0, 0, 0.06);
}

.transactions {
  margin: 20px;
  height: 500px;
  border-radius: 1.25rem;
  background-color: #d3d3d3;
  box-shadow: 0px 6px 18px rgba(0, 0, 0, 0.06);
}

.header-elements {
  display: flex;

}

.header-text {
  font-size: 30px;
  text-align: left;
  margin: 5px;
}

.header-balance {
  font-size: 30px;
  text-align: right;
  margin-left: auto;
  margin-right: 10px;
  margin-top: 5px;  
}

.table-container {
  background-color: #d3d3d3 !important;
}

.transactions span {
  float: left;
  margin: 10px;
  font-size: 30px;
}

.cell {
  font-size: 30px !important;
}

.green { 
  background-color: chartreuse;
}

.red {
  background-color: red;
}